// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.
.bg-gradient-purple {
    background: linear-gradient(45deg, #635bd6, #f742aa) !important;
    color: #fff !important;
}
.bg-gradient-green {
    background: linear-gradient(45deg, #45c0ba, #76c880) !important;
    color: #fff !important;
}
.bg-gradient-orange {
	background: linear-gradient(45deg, #f16e3c, #e3c94b) !important;
    color: #fff !important;
}
.bg-gradient-blue {
	background: linear-gradient(45deg, #705be1, #52d8c6) !important;
    color: #fff !important;
}

.ct-series-a .ct-line {
  stroke: #66bcbe !important;
  stroke-width: 3px;
  stroke-dasharray: 10px 20px;
}

.ct-series-a .ct-point {
  stroke: #66bcbe !important;
  stroke-width: 10px;
  stroke-linecap: ball;
}

.ct-series-b .ct-line {
  stroke: #625ca2 !important;
  stroke-width: 3px;
  stroke-dasharray: 10px 20px;
}

.ct-series-b .ct-point {
  stroke: #625ca2 !important;
  stroke-width: 10px;
  stroke-linecap: ball;
}

.ct-a-legend	{
	color: #625ca2 !important;
}
.ct-b-legend	{
	color: #66bcbe !important;
}